{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'css/navbar.scss' %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script defer src="{% static 'js/index.js' %}"></script>
    <script defer src="{% static 'js/navbar.js' %}"></script>
    <script defer src="file:///Users/lriad/Downloads/bootstrap-5.0.2-dist/js/bootstrap.min.js" type="text/javascript"></script>
    <title>Document</title>
    {% block head %}
    {% endblock %}
</head>
<body>
  <div class="container">
    <div class="bars"></div>
  </div>

  <h1>Let's Hop To It</h1>
  <nav>
    <h2>
    <img src="{% static 'images/hopsNshine_icon.jpeg' %}"/>
    </h2>
    
    <div class="close">
      <div></div>
    </div>
    <ul>
      <li><a class="navItem" href="#">Home</a></li>
      <li><a class="navItem" href="#">Events</a></li>
      <li><a class="navItem" href="#">Menu</a></li>
      <li><a class="navItem" href="#">Contact Us</a></li>
      <li><a class="navItem" href="#">Online Ordering</a></li>
      <li><a class="navItem" href="#">Getting Here</a></li>
    </ul>
  </nav>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
    <main>
        {% block content%}
        {% endblock%}
    </main>
</body>
</html>